body, html {
  font-family: 'Comfortaa', cursive;
  height: 100%
}

#hero-background {
    background-image: url(/images/hero.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    position: absolute;
    margin-left: 360px;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 20px
}

#climate-change {
    text-align: center
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding-left: 1500px;
    padding-top: 40px;
}

li  {
    padding-left: 25px;
    display: inline;
}

li a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
}

li a:hover {
   border-bottom: 3px solid;
}

.logo {
    padding-top: 720px;
    padding-left: 740px;
    width: 300px;
    height: auto;
}

#climate {
    padding-top: 90px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 60px
}


.climate-change-background {
    background-image: url(/images/climate-change-background.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.change {
    padding-top: 100px;
    position: absolute;
    left: 200px;
    right: 1000px;
    line-height: 47px;
    color: #FFF;
    font-size: 25px
}

.change-two {
    padding-top: 100px;
    position: absolute;
    left: 1000px;
    right: 100px;
    line-height: 47px;
    color: #FFF;
    font-size: 25px
}

.resource-click {
    padding-top: 800px;
    text-align: center;
    color: #FFF;
    font-size: 45px; 
}

#climate-resources {
     text-align: center;
    color: #FFF;
    font-size: 35px; 
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    border-bottom: 3px solid;
}

