body, html {
  font-family: 'Comfortaa', cursive;
  height: 100%
}

#hero-background {
    background-image: url(/images/hero.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    position: absolute;
    margin-left: 360px;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 20px
}

#climate-change {
    text-align: center
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding-left: 900px;
    padding-top: -10px;
}

li  {
    padding-left: 25px;
    display: inline;
}

li a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
}

li a:hover {
   border-bottom: 3px solid;
}

